language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
    - python thirdparty/virtualenv.pyz --never-download --no-periodic-update .
    - bin/pip install -e .[test]

script:
    - bin/py.test -vvs
