graft src
graft tests

include mit.LICENSE
include setup.py
include setup.cfg
include README.rst
include MANIFEST.in
include requirements_tests.txt
include CHANGELOG.rst
include CONTRIBUTING.rst

global-exclude *.py[co] __pycache__
