name: Python CI

on: [push, pull_request]

jobs:
  lint-and-mypy:
    name: Lint & mypy
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install
        run: |
          pip install -e .[lint]

      - name: Validate
        run: |
          isort --check-only src/ tests/
          black --check --line-length 100 src/ tests/
          mypy

  build-and-test:
    name: Test & build (py${{ matrix.python-version }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version:
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          pip install -e .[test]
          pip install -e .[build]

      - name: Test
        run: py.test -vvs /tests

      - name: Build
        run: python setup.py build sdist bdist_wheel
